.active {
  --back-color: var(--btn-blue);
}

.inactive {
  --back-color: var(--btn-dark-blue);
}

.arrow {
  position: absolute;
  width: 52px;
  height: 52px;
  background-color: var(--back-color);
  border-radius: 50%;
  border: none;
  z-index: 100;
}

.arrow:hover {
  cursor: pointer;
  opacity: .8;
}

.arrow:first-of-type {
  margin-top: 500px;
  margin-left: 71px;
}

.arrow:last-of-type {
  margin-top: -532px;
  margin-left: 1770px;
}

@media screen and (max-width: 1440px) {
  .arrow:first-of-type {
    margin-top: 420px;
  }
  
  .arrow:last-of-type {
    margin-top: -370px;
    margin-left: 1350px;
  }
}

@media screen and (max-width: 1024px) {
  .arrow:first-of-type {
    margin-top: 320px;
  }
  
  .arrow:last-of-type {
    margin-top: -250px;
    margin-left: 910px;
  }
}
@media screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
}
