/* Lato Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /* fonts */
  --header-f: 'Droid Sans', sans serif;
  --primary-f: 'Lato', sans serif;
  --placeholder-f: 'Arial', sans serif;
  /* font sizes */
  --logo-size: 36px;
  --copyright-size: 12px;
  --video-title-size: 48px;
  --block-title-size: 36px;
  --placeholder-size: 14px;
  --feature-text-size: 13px;
  --contact-title-size: 36px;
  --feature-title-size: 15px;
  --picture-title-size: 15px;
  --button-caption-size: 15px;
  --video-subtitle-size: 18px;
  --block-subtitle-size: 20px;
  /* font weights */
  --block-title-weight: 900;
  --video-title-weight: 100;
  --placeholder-weight: 400;
  --video-title-weight2: 700;
  --feature-text-weight: 400;
  --feature-title-weight: 700;
  --picture-title-weight: 700;
  --contact-title-weight: 700;
  --video-subtitle-weight: 100;
  --block-subtitle-weight: 100;
  --button-caption-weight: 700;
  /* font colors */
  --f-white: #FFFFFF;
  --f-blue: #4bcaff;
  --f-dark: #414042;
  --f--dark-grey: #838383;
  --f-grey: #d3d3d3;
  --f-copyright-col: #fefefe;
  --video-title-col: var(--f-white);
  --contact-title-col: var(--f-white);
  --video-subtitle-col: var(--f-white);
  --placeholder-col: var(--f-grey);
  --button-caption-col: var(--f-blue);
  /* background colors */
  --back-white: #FFFFFF;
  --back-light-grey: #f9f9f9;
  --back-feature-col: #4bcaff;
  --back-feature-col-hover: #414042;
  --back-footer: #414042;
  --back-header: rgba(0, 0, 0, .3);
  --back-contact-form: rgba(75, 202, 255, .8);
  /* button colors */
  --btn-white: #FFFFFF;
  --btn-blue: #4bcaff;
  --btn-grey: #414042;
  --btn-transparent: transparent;
}

@font-face {
  font-family: 'Droid Sans', sans-serif;
  src: url('../../public/fonts/DroidSans.ttf');
}

.body {
  font-family: 'Lato', sans-serif;
}

.wrapper {
  max-width: 1169.90px;
  width: 100%;
  margin: 0 auto;
}

.block-title-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 67px;
}

.block-title {
  font-family: var(--primary-f);
  font-size: var(--block-title-size);
  font-weight: var(--block-title-weight);
  color: var(--f-dark);
  margin-bottom: 0;
}

.block-subtitle {
  font-family: var(--primary-f);
  font-size: var(--block-subtitle-size);
  font-weight: var(--block-subtitle-weight);
  color: var(--f-dark);
  margin-bottom: 0;
}

.map-container {
  height: 100%;
  width: 100%;
}

