.modal {
  position: relative;
}

.modal iframe {
  width: 1120px;
  height: 700px;
  border: none;
}

.modal button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.modal button::before,
.modal button::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width: 1024px) {
  .modal iframe {
    width: 900px;
    height: 500px;
    margin-top: 60px;
  }
  .modal button {
    top: 70px;
  }
}
@media screen and (max-width: 768px) {
  .modal iframe {
    width: 600px;
    height: 400px;
    margin-top: 0;
  }
  .modal button {
    top: 10px;
  }
}
@media screen and (max-width: 425px) {
  .modal iframe {
    width: 350px;
    height: 300px;
  }
}
@media screen and (max-width: 375px) {
  .modal iframe {
    width: 300px;
    height: 250px;
  }
}
@media screen and (max-width: 320px) {
  .modal iframe {
    width: 250px;
    height: 200px;
  }
}
