.container {
  position: absolute;
  z-index: 99;
  margin-top: -590px;
  margin-left: 820px;
}

.container h1, .container p {
  color: var(--f-white);
  font-family: var(--primary-f);
}

.carouselItem h1 {
  font-size: var(--banner-title-size);
  font-weight: var(--banner-title-weight);
  text-align: left;
  margin-bottom: 24px;
}

.carouselItem h1>span {
  font-weight: var(--banner-title-weight2);
}

.carouselItem p {
  font-size: var(--banner-subtitle-size);
  font-weight: var(--banner-subtitle-weight);
  text-align: left;
  max-width: 673px;
  width: 100%;
  margin-bottom: 38px;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 49px;
}

.btnContainer button {
  border-radius: 8px;
  padding: 27px 52px;
  text-transform: uppercase;
  font-family: var(--primary-f);
  font-size: var(--btn-banner-font-size);
  font-weight: var(--btn-banner-font-weight);
  color: var(--btn-banner-font-col);
}

.btnContainer button:hover {
  cursor: pointer;
}

.btnContainer button:first-of-type {
  background-color: var(--btn-transparent);
  border: 2px solid var(--btn-white);
}

.btnContainer button:last-of-type {
  background-color: var(--btn-blue);
  border: transparent;
  box-shadow: 0px 4px 0px 0px #277697;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.linkContainer span {
  font-family: var(--primary-f);
  font-size: 18px;
  font-weight: 100;
  color: var(--f-white);
}

.linkContainer div {
  padding: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(3, 3, 3, .35);
  margin-left: 15px;
}

.linkContainer div:first-of-type {
  margin-left: 15px;
}

.linkContainer div img:first-of-type {
  width: 21px;
  height: 26px;
}

.linkContainer div img:last-of-type {
  width: 23px;
  height: 25px;
}

.linkContainer div:first-of-type {
  margin-left: 15px;
}

@media screen and (max-width: 1440px) {
  .container {
    margin-top: -590px;
    margin-left: 700px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    margin-top: -420px;
    margin-left: 440px;
  }
  .carouselItem h1 {
    font-size: 32px;
  }
  .carouselItem p {
    font-size: 15px;
    max-width: 490px;
  }
  .btnContainer button {
    padding: 18px 42px;
    font-size: var(--btn-banner-font-size);
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin-top: -320px;
    margin-left: 340px;
  }
  .carouselItem h1 {
    font-size: 22px;
    margin-bottom: 12px;
  }
  .carouselItem p {
    font-size: 12px;
    max-width: 380px;
    margin-bottom: 12px;
  }
  .btnContainer button {
    padding: 10px 22px;
    font-size: 12px;
  }
  .linkContainer span {
    font-size: 15px;
  }
  .linkContainer > div {
    padding: 10px;
  }
  .linkContainer > div > img:first-of-type {
    width: 13px;
    height: 18px;
  }
  
  .linkContainer div img:last-of-type {
    width: 14px;
    height: 20px;
  }
  .btnContainer {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    margin-top: -820px;
    margin-left: 40px;
    max-width: 350px;
    width: 100%;
  }
  .carouselItem h1 {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .carouselItem p {
    font-size: 15px;
    max-width: 350px;
    margin-bottom: 38px;
  }
  .btnContainer {
    flex-direction: column-reverse;
  }
  .btnContainer button {
    padding: 27px 52px;
    font-size: var(--btn-banner-font-size);
  }
  .linkContainer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  .linkContainer span {
    font-size: 18px;
    flex-basis: 100%;
  }
  .linkContainer > div {
    padding: 15px;
    margin-left: 0;
  }
  .linkContainer div:first-of-type {
    margin-left: 0;
  }
  .linkContainer div img:first-of-type {
    width: 21px;
    height: 26px;
  }
  
  .linkContainer div img:last-of-type {
    width: 23px;
    height: 25px;
  }
  .btnContainer {
    margin-bottom: 49px;
  }
}
@media screen and (max-width: 375px) {
  .container {
    margin-top: -720px;
    margin-left: 20px;
    max-width: 350px;
    width: 100%;
  }
}
@media screen and (max-width: 325px) {
  .container {
    margin-top: -620px;
    margin-left: 0;
    max-width: 350px;
    padding: 0 20px;
    width: 100%;
  }
  .carouselItem p {
    max-width: 290px;
    margin-bottom: 20px;
  }
  .btnContainer button {
    padding: 22px 46px;
    font-size: var(--btn-banner-font-size);
  }
  .btnContainer {
    gap: 12px;
    margin-bottom: 32px;
  }
}
